#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

/* use universal selector to do a basic reset*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contenedor {  display: grid;
    grid-template-columns: 3% 1fr 1fr 1fr 1fr 3%;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". men men men men ."
      ". carrusel carrusel carrusel carrusel ."
      ". texto texto texto texto ."
      ". imagenes imagenes imagenes imagenes ."
      ". video video texti texti ."
      ". fa fan fanc fancy ."
      ". texta texta texta texta ."
      ". formulario formulario mapa mapa ."
      ". piepag piepag piepag piepag .";
  }
  
  .men { grid-area: men;}
  
  .carrusel { grid-area: carrusel;}
  
  .texto { grid-area: texto; 
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: azure;
    padding: 3%;}

 
  .imagenes {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "im ima imag"
      "tim tima timag";
    grid-area: imagenes;
    background-color: rgb(0, 0, 0); ;
  }
  
  .im { grid-area: im; 
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0); ;
    }
  
  .ima { grid-area: ima;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0); }
  
  .imag { grid-area: imag; 
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);}
  
  .im>img{
    width: 100%;
    height: 100%;
  }
  .ima>img{
    width: 100%;
    height: 100%;
  }
  .imag>img{
    width: 100%;
    height: 100%;
  }

  .tim { grid-area: tim;
    background-color: rgb(0, 0, 0); 
    text-align: center;
    color: azure;
    padding: 4%;}
  
  .tima { grid-area: tima;
    background-color: rgb(0, 0, 0);
    text-align: center; 
    color: azure;
    padding: 4%;}
  
  .timag { grid-area: timag; 
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: azure;
    padding: 4%;}
  
  .video { grid-area: video; }

  iframe{
    width: 100%;
    height: 100%;
  }

  .texti { grid-area: texti; 
    padding: 20%;
    background-color: black;
    color: aliceblue;}
  h1, h2{
    text-align: center;
  }
  
  .fa { grid-area: fa; 
    background-color: rgb(0, 0, 0);}

  .fa>a>img{
    width: 100%;
    height: 100%;
    filter: opacity(70%);
    transition: .5s ease-in-out;
  }
  .fa>a>img:hover{
    filter: opacity(100%);
  }

  .fan { grid-area: fan; 
    background-color: rgb(0, 0, 0);}

  .fan>a>img{
    width: 100%;
    height: 100%;
    filter: opacity(70%);
    transition: .5s ease-in-out;
  }
  .fan>a>img:hover{
    filter: opacity(100%);
  }
  
  .fanc { grid-area: fanc; 
    background-color: rgb(0, 0, 0);}

  .fanc>a>img{
    width: 100%;
    height: 100%;
    filter: opacity(70%);
    transition: .5s ease-in-out;
  }
  .fanc>a>img:hover{
    filter: opacity(100%);
  }

  .fancy { grid-area: fancy; 
    background-color: rgb(0, 0, 0);}
  .fancy>a>img{
    width: 100%;
    height: 100%;
    filter: opacity(70%);
    transition: .5s ease-in-out;
  }
  .fancy>a>img:hover{
    filter: opacity(100%);
  }

  
  .texta { grid-area: texta;
    background-color: rgb(28, 30, 4); }
  
  .formulario { grid-area: formulario;
  background-color: rgb(0, 0, 0);}
  
  form{
      width: 90%;
      padding: 2%;
      color: rgb(255, 255, 255);
  }
  fieldset{
      border: none;
      padding: 1%;
      color: rgb(255, 255, 255);
  }
  label{
      display: block;
      margin: 1% auto;
      color: rgb(255, 255, 255);
  }
  input, textarea, select{
      width: 90%;
      margin-top: 10px;
      color: rgb(0, 0, 0);
  }
  .inline{
      width: unset;
      margin-right: 1%;
      vertical-align: middle;
      display: inline;
      color: rgb(255, 255, 255);
  }
  .image>iframe{
      width: 100%;
      height: 100%; 
      color: rgb(255, 255, 255);
  }

  .mapa { grid-area: mapa;}
  
  .piepag {  display: grid;
    grid-template-columns: 5fr 1fr 5fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "por por por"
      "tiktok instagram youtube";
    grid-area: piepag;
    background-color: rgb(0, 0, 0);
  }
  
  .por { grid-area: por;
    background-color: rgb(0, 0, 0);
    text-align: center; 
    color: azure;}
  
  .youtube { grid-area: youtube;
    display: flex;
    justify-content: start; 
    padding-bottom: 1%;}

  .youtube>a:hover{
    filter: blur(2px);

 }
  
  .instagram { grid-area: instagram; 
    display: flex;
    justify-content: center;
    padding-bottom: 1%;}

  .instagram>a:hover{
    filter: blur(2px);
}
  
  .tiktok { grid-area: tiktok; 
    display: flex;
    justify-content: end;
    padding-bottom: 1%;}

  .tiktok>a:hover{
    filter: blur(2px);
 }

 @media(max-width:678px){
  .contenedor {  display: grid;
    grid-template-columns: 3% 1fr 1fr 3%;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". men men ."
      ". carrusel carrusel ."
      ". texto texto ."
      ". imagenes imagenes ."
      ". video video ."
      ". texti texti ."
      ". fa fan ."
      ". fanc fancy ."
      ". texta texta ."
      ". formulario formulario ."
      ". mapa mapa ."
      ". piepag piepag .";
  }
    .imagenes {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto 1fr auto 1fr auto ;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "im" 
      "tim" 
      "ima"
      "tima" 
      "imag"
      "timag";
    grid-area: imagenes;
    background-color: rgb(0, 0, 0); ;
  }
  .men{
    margin-bottom: 15%;
  }

 }